@model WebStore.Models.Employee
<h3>Карточка сотруника</h3>
<div>
    <p>Фамилия:</p>
    <p>@Model.LastName</p>
</div>
<div>
    <p>Имя:</p>
    <p>@Model.FirstName</p>
</div>
<div>
    <p>Отчество:</p>
    <p>@Model.MiddleName</p>
</div>
<div>
    <p>Возраст:</p>
    <p>@Model.Age</p>
</div>
<div>
    <p>Принят на работу:</p>
    <p>@Model.HiredDate.ToShortDateString()</p>
</div>
<div>
    <p>Принят на работу:</p>
    <p>@Model.HiredDate.ToShortDateString()</p>
</div>
<hr />
<a asp-controller="Employees" asp-action="Index">К списку сотрудников</a>
