@{
    Layout = "_Layout";
}
@model WebStore.Models.Employee
<h3>Карточка сотруника</h3>
<div>
    <p>Фамилия: @Model.LastName</p>
</div>
<div>
    <p>Имя: @Model.FirstName</p>
</div>
<div>
    <p>Отчество: @Model.MiddleName</p>
</div>
<div>
    <p>Возраст: @Model.Age</p>
</div>
<div>
    <p>Принят на работу: @Model.HiredDate.ToShortDateString()</p>
</div>
<hr />
<a asp-controller="Employees" asp-action="Index">К списку сотрудников</a>