@{
    Layout = "_Layout";
}
@model IEnumerable<WebStore.Models.Employee>
<h3>Сотрудники</h3>
<a asp-controller="Employees" asp-action="Edit" class="btn btn-default">Добавить</a>
<table class="table table-cover">
    <thead>
        <tr>
            <th>ID</th>
            <th></th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Возраст</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var employee in Model)
        {
        <tr>
            <td>@employee.Id</td>
            <td><a asp-controller="Employees" asp-action="Edit" asp-route-id="@employee.Id"><i class="fa fa-edit"></i></a></td>
            <td>@employee.LastName</td>
            <td>@employee.FirstName</td>
            <td>@employee.MiddleName</td>
            <td>@employee.Age</td>
            <td><a asp-controller="Employees" asp-action="Details" asp-route-id="@employee.Id">Детали</a></td>
            <td><a asp-controller="Employees" asp-action="Delete" asp-route-id="@employee.Id"><i class="fa fa-times text-danger"></i></a></td>
        </tr>
        }
    </tbody>
</table>

